PORT=3000
JWT_SECRET=cambia-esta-clave-en-produccion
DEVICE_SHARED_KEY=lector-institucional-2026
TIMEZONE=America/Mexico_City
DB_FILE=./data/asistencia.db

ADMIN_USERNAME=admin
ADMIN_PASSWORD=Admin123!
